<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recitations for {{.CourseName}}</title>
</head>
<body>
<p>All recitations for {{.CourseName}}</p>
<ul>
    {{ range $key, $value := .Data }}
    <li>{{ $value.Name}}
        <ul>
            {{ range $k,$v := $.Tracks}}
                <li><a href="/student/{{$.StudentId}}/recitations/{{$.CourseId}}/solutions/{{$value.Name}}/?track={{$k}}">{{ $v }}</li>
            {{end}}

        </ul>


    </li>

    {{ end }}
</ul>

</body>
</html>